<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cky.mapper.CountriesMapper" >
  <resultMap id="BaseResultMap" type="com.cky.entity.Countries" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="iso3" property="iso3" jdbcType="CHAR" />
    <result column="iso2" property="iso2" jdbcType="CHAR" />
    <result column="phone_code" property="phoneCode" jdbcType="VARCHAR" />
    <result column="capital" property="capital" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="CodeResultMap" type="java.util.LinkedHashMap">
    <result property="iso2" column="code"/>
    <result property="name" column="name"/>
  </resultMap>

  <select id="selectMap" resultType="java.util.LinkedHashMap">
    SELECT iso2 , name
    FROM tb_countries
    ORDER BY name
  </select>

</mapper>