<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cky.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.cky.entity.SysUser" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="website_type" property="websiteType" jdbcType="TINYINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_ip" property="createIp" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_ip" property="updateIp" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
  </resultMap>

  <resultMap id="InfoResultMap" type="com.cky.vo.UserVO">
      <id column="id" property="uid" jdbcType="CHAR" />
      <result column="account" property="account" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="status" property="status" jdbcType="TINYINT" />
      <result column="website_type" property="websiteType" jdbcType="TINYINT" />
      <result column="f_name" property="fName"/>
      <result column="f_name" property="firstName"/>
      <result column="l_name" property="lName"/>
      <result column="l_name" property="lastName"/>
      <result column="phone" property="phone"/>
      <result column="birthday" property="birthday"/>
      <result column="id_num" property="idNum"/>
      <result column="countries_id" property="countriesId"/>
      <result column="states_id" property="statesId"/>
      <result column="cities_id" property="citiesId"/>
      <result column="countries_name" property="countriesName"/>
      <result column="states_name" property="statesName"/>
      <result column="cities_name" property="citiesName"/>
      <result column="address" property="address"/>
      <result column="postcode" property="postcode"/>
      <result column="photo" property="photo"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, account, password, salt, email, status, website_type, version, create_user, create_date, 
    create_ip, update_user, update_date, update_ip, is_del
  </sql>

  <sql id="Info_Column_List">
     u.id, account, password, salt, email, status, website_type, u.version, u.create_user, u.create_date,
     u.create_ip, u.update_user, u.update_date, u.update_ip, u.is_del
    ,info.id as info_id, user_id, f_name, l_name, phone, birthday, id_num, address, postcode, photo
    ,countries.id as countries_id , countries.name as countries_name
    ,states.id as states_id , states.name as states_name
    ,cities.id as cities_id , cities.name as cities_name
  </sql>

  <select id="selectListByPage" resultMap="InfoResultMap" parameterType="com.cky.entity.SysUser">
        SELECT <include refid="Info_Column_List"/>
        FROM tb_sys_user u
        left join tb_sys_user_info info on u.id = info.user_id
        left join tb_countries countries on info.countries_id = countries.id
        left join tb_states states on info.states_id = states.id
        left join tb_cities cities on info.cities_id = cities.id
        <where>
            and u.is_del = 0
            <if test="id != null and id != ''">
              and  u.id = #{id,jdbcType=CHAR}
            </if>

            <if test="email != null and email != ''">
              and  u.email = #{email,jdbcType=VARCHAR}
            </if>

            <if test="userInfo != null">
                <if test="userInfo.fName != null">
                  and CONCAT(info.f_name, info.l_name ) LIKE CONCAT('%', #{userInfo.fName,jdbcType=VARCHAR} ,'%')
                </if>
            </if>
        </where>
        order by u.id
  </select>

</mapper>