<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cky.mapper.SysUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cky.entity.SysUserInfo" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="f_name" property="fName" jdbcType="VARCHAR" />
    <result column="l_name" property="lName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="id_num" property="idNum" jdbcType="VARCHAR" />
    <result column="countries_id" property="countriesId" jdbcType="VARCHAR" />
    <result column="states_id" property="statesId" jdbcType="VARCHAR" />
    <result column="cities_id" property="cities" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="postcode" property="postcode" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_ip" property="createIp" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_ip" property="updateIp" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, user_id, f_name, l_name, phone, birthday, id_num, countries_id, states_id, cities_id,
    address, postcode, version, create_user, create_date, create_ip, update_user, update_date, 
    update_ip, is_del
  </sql>

</mapper>